# Application version
VERSION=v1.0.0

# Service ports
BACKEND_HTTP_PORT=8000
BACKEND_GRPC_PORT=9000
FRONTEND_PORT=3000

# ClickHouse
CLICKHOUSE_ADDR=your-clickhouse-host:9000
CLICKHOUSE_DATABASE=segmentation
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=your-clickhouse-password

# Kafka
KAFKA_ADDRESS=kafka1:9092,kafka2:9092,kafka3:9092
KAFKA_TOPIC=user_events
KAFKA_GROUP_ID=segmentation_consumer

# ThinkingData
THINKINGDATA_VN_QUERY_URL=
THINKINGDATA_VN_QUERY_TOKEN=
THINKINGDATA_GLOBAL_QUERY_URL=
THINKINGDATA_GLOBAL_QUERY_TOKEN=
